<div class="container" *ngIf="productFormGroup">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="productFormGroup">
                <div class="form-group mt-6">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" formControlName="name" id="name"
                        [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                    <div class="invalid-feedback" *ngIf="submitted && f['name'].errors">
                        <div *ngIf="f['name'].errors['required']">Product name is required!</div>
                        <div *ngIf="f['name'].errors['minlength']">Product name must be minimum of 4 caracters!</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="text" class="form-control" formControlName="price" id="price"
                    [ngClass]="{ 'is-invalid': submitted && f['price'].errors }">
                    <div class="invalid-feedback" *ngIf="submitted && f['price'].errors">
                        <div *ngIf="f['price'].errors['required']">Product price is required!</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="text" class="form-control" formControlName="quantity" id="quantity">
                </div>
                <div class="form-group">
                    <label for="selected">Selected:</label>
                    <input type="checkbox" class="form-check" formControlName="selected" id="selected">
                </div>
                <div class="form-group">
                    <label for="available">Available:</label>
                    <input type="checkbox" formControlName="available" class="form-check" id="available">
                </div>
                <!--<button class="btn btn-success" (click)="onSaveProduct()">Save</button>-->


                <div>
                    <button class="btn btn-success mr-1" (click)="onSaveProduct()">Save</button>
                    <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    </div>
